{% load static %}

<!DOCTYPE html> 

<html lang="en">
    <head>
        <title>Not found!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body id="error_body">
        <div>
            <h1>We're sorry, but there's nothing going on around here...</h1>
            <h1>We could not find "{{title}}"" in our database </h1>
            <h2>Did you make sure to type in your entry correctly?</h2>
        </div>
</body>
</html>