{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if search_check %}
    <h1>Possible entries:</h1>
    {% else %}
    <h1>All Pages</h1>
    {% endif %}

    <ul id="items">
        {% for entry in entries %}
           <li><a href="/wiki/{{entry}}">{{ entry }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}


<!-- Everything could be added into a singular index.html file, but I prefer better readability by separating them. I only did that with the error.html 
    one -->